// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

:root {
	--main-color: #F400A1;
	--text-color: #959595;
	--text-color-l: #DFDFDF; /* может светлее? */
	--ff: 'Lato', sans-serif;
	--ff-logo: "K2D", sans-serif;
	--transition: .2s all ease-in-out;

	/* --ff: 'Poppins', sans-serif;
	--c-primary: #0b8fed;
	--c-text-white: #fff;
	--c-border: #eee; */
}
