<header class="header" id="header">
	<div class="logo">
		<a class="header-logo" href="/">
			< Kamila />
		</a>
	</div>

	<ul class="header-nav">
		<li><a href="#home" class="header-link">Home</a></li>
		<li><a href="#services" class="header-link">Services</a></li>
		<li><a href="#about" class="header-link">About me</a></li>
		<li><a href="#portfolio" class="header-link">Portfolio</a></li>
	</ul>

	<div class="header-button">
		<a download="CV Kamila Puzyrova" class="header-button-nav" href="./download/cv.docx">Get CV</a>
	</div>
</header>