.about {
  padding-top: 100rem;
}

.text {
  text-align: center;
  &__title {
    color: #fefefe;
    font-size: 40rem;
    font-weight: 700;
    letter-spacing: 1.2rem;
    padding-bottom: 18rem;
  }

  &__desc {
    color: #707070;
    font-size: 20rem;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.6rem;
    padding-bottom: 40rem;
    @include mobile {
    font-size: 15rem;
    padding-bottom: 20rem;
    }
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80rem;

  @include mobile-small {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  &__img {
    max-width: fit-content;
    @include mobile-small {
      max-width: 100%;
    }
  }

  &__description {
    color: #959595;
    font-size: 20rem;
    font-weight: 500;
    line-height: 190%;
    text-align: justify;
    @include mobile-small {
    font-size: 15rem;
    }
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }
}

.skills {
  text-align: center;
  padding-top: 50rem;
  padding-bottom: 50rem;

  &__my-skills {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(50deg, #f400a1 40%, #fff 100%);
    padding-bottom: 20rem;
  }

  &__img-skills {
    display: flex;
    justify-content: space-between;
    border-top: 3rem hsl(0, 0%, 58%) solid;
    border-bottom: 3rem hsl(0, 0%, 58%) solid;

    @include mobile {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15rem;
    }
  }

  &__name {
    color: #959595;
    font-size: 24rem;
    font-weight: 700;
  }

  &__skill {
    padding: 10rem;

    @include mobile {
      padding: 2rem;
    }
  }
}

.fixed {
  position: fixed;
  bottom: 20rem;
  right: 20rem;

  @include tablet-small {
    bottom: 50rem;
    right: 20rem;
  }
  @include mobile-small {
    bottom: 50rem;
    right: 30rem;
  }

}
