<div class="about" id="about">
     <a href="#header" class="fixed"><img src="./img/up.svg" alt=""></a>

     <div class="text">
          <h2 class="text__title">About Me</h2>
          <p class="text__desc">Beginner front-end developer with background as a graphic designer</p>

     </div>

     <div class="hero">

          <div class="hero__img">
               <img class="hero__img" src="./img/kamila3.png" alt="my photo">
          </div>

          <div class="hero__description">
               
               <p>Hello! I'm Kamila, a beginner front-end developer. I'm new to the world of
                    programming, but I really want to develop in this area and look forward to the opportunity to
                    implement
                    new projects. The combination of creativity and technical knowledge allows you to turn your ideas
                    into a
                    profitable project. Although I don't have many years of experience yet, what I lack in experience I
                    make
                    up for in enthusiasm. I strive to hone my skills, receive feedback, and see challenges as
                    opportunities
                    for growth.</p>

          </div>

     </div>




     <div class="skills">
          <h3 class="skills__my-skills text__title">My skills</h3>
          <div class="skills__img-skills">
               <div class="skills__skill">
                    <p class="skills__name">HTML</p>
                    <img src="./img/icon/html.svg" alt="html" class="skills__skill">
               </div>
               <div class="skills__skill">
                    <p class="skills__name">CSS</p>
                    <img src="./img/icon/css.svg" alt="css" class="skills__skill">
               </div>
               <div class="skills__skill">
                    <p class="skills__name">JS</p>
                    <img src="./img/icon/js.svg" alt="js" class="skills__skill">
               </div>
               <div class="skills__skill">
                    <p class="skills__name">Figma</p>
                    <img src="./img/icon/figma.svg" alt="figma" class="skills__skill">
               </div>
               <div class="skills__skill">
                    <p class="skills__name">PS</p>
                    <img src="./img/icon/ps.svg" alt="ps" class="skills__skill">
               </div>
               <div class="skills__skill">
                    <p class="skills__name">React</p>
                    <img src="./img/icon/reactt.svg" alt="react" class="skills__skill">
               </div>
               <div class="skills__skill">
                    <p class="skills__name">Sass</p>
                    <img src="./img/icon/sass.svg" alt="sass" class="skills__skill">
               </div>

          </div>
     </div>
</div>