<footer class="footer">

	<div class="logo footer-logo"><a class="header-logo" href="/">
			< Kamila />
		</a>
	</div>

	<div class="social footer-social">
		<a href="https://www.linkedin.com/home" class="social__link"><img src="./img/linkedin.svg"
				alt="linkedin"></a>
		<a href="https://www.instagram.com/kamilapuzyrova" class="social__link"><img src="./img/instagram.svg"
				alt="insta"></a>
		<a href="https://www.github.com/kamilapu" class="social__link"><img src="./img/git.svg" alt="github"></a>
	</div>

	<div class="footer-contact">
		<a href="mailto:kamilapuzyrova@gmail.com" class="footer-contact__mail"><img src="./img/mail.svg" alt="mail">Kamilapuzyrova@gmail.com</a>
		<a href="tel:+48511988861" class="footer-contact__phone"><img src="./img/phone.svg" alt="phone">+48511988861</a>
	</div>

</footer>