<div class="services" id="services">
     <div class="services__title">Services</div>
     <div class="services__title-desc">Here are some services that I can offer as a front-end developer</div>


     <div class="services-row">

          <div class="services-col">
               <h3 class="services-name">Website Development</h3>
               <div class="services-description">Building visually appealing, user-friendly websites from scratch using
                    HTML, CSS, and JavaScript.</div>
          </div>

          <div class="services-col">
               <h3 class="services-name">Responsive Design</h3>
               <div class="services-description">Ensuring websites adapt seamlessly to different screen sizes and
                    devices, providing a consistent user experience across desktops, tablets, and mobile devices.</div>

          </div>

          <div class="services-col">
               <h3 class="services-name">Consultation and Advice</h3>
               <div class="services-description">Offering expert advice and consultation on front-end development
                    strategies, technologies, and best practices to help clients make informed decisions and achieve
                    their goals.</div>

          </div>

     </div>
</div>


</div>